In [12]:
import numpy as np
import pandas as pd

In [13]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [14]:
df = pd.concat([flats,houses],ignore_index=True)

In [15]:
df = df.sample(df.shape[0],ignore_index=True)

In [16]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,2.86,14000.0,2043.0,Carpet area: 2040 (189.52 sq.m.),3,3,3,servant room,"Sector 65 Gurgaon, Gurgaon, Haryana",45.0,East,24-May,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",East facing. Beautiful view from the top,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 66 Gurgaon,house,emaar mgf marbella,19.00,31666.0,6000.0,Plot area 9000(836.13 sq.m.)Carpet area: 6000 ...,5,6,3+,"pooja room,servant room,store room","Belinda 14, Sector 66 Gurgaon, Gurgaon, Haryana",3.0,North-East,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",This 5 bhk house for sale in sector 66 gurgaon...,"['6 Wardrobe', '9 Fan', '1 Exhaust Fan', '7 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment3 out of 5', 'Safety4 out of 5', ..."
2,3 BHK Flat in Sector 37D Gurgaon,flat,ramprastha primera,1.08,6000.0,1800.0,Super Built up area 1800(167.23 sq.m.)Built Up...,3,3,3,not available,"901, Sector 37D Gurgaon, Gurgaon, Haryana",9.0,South,1 to 5 Year Old,"['JMS Marine Square Mall', 'HUDA Market', 'Dwa...",This beautiful 3 bhk flat in sector 37d gurgao...,NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,4 Bedroom House for sale in Malibu Town,house,independent,0.99,17187.0,576.0,Plot area 64(53.51 sq.m.),4,4,3,not available,"Malibu Town, Gurgaon, Haryana",4.0,NaN,1 to 5 Year Old,"['Standard chartered ATM', 'Icici bank ATM', '...","Malibue towen in sector 47, 60 sq yard indepen...",[],"['Maintenance Staff', 'Rain Water Harvesting']","['Environment5 out of 5', 'Lifestyle4 out of 5..."
4,3 BHK Flat in Sector 48 Gurgaon,flat,central park resorts,3.65,15240.0,2395.0,Super Built up area 1870(173.73 sq.m.)Built Up...,3,3,3+,others,"Sohna Road, Sector 48 Gurgaon, Gurgaon, Haryana",9.0,North-West,1 to 5 Year Old,"['Huda Metro Station', 'Omaxe Celebration Mall...",Central park resorts high end luxury apartment...,"['3 Wardrobe', '1 Water Purifier', '5 Fan', '1...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of..."

In [17]:
df.to_csv('gurgaon_properties.csv',index=False)